/* essas configurações são mais fortes ou seja sao priorizadas mais do que os breakpoints */

/* spam nao se comporta como uma div como quebrar linha, por isso que serve para
 poucas alterações em textos, como mudar a cor e colocar negrito */


 body{
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                        'section section section aside'
                        'footer footer footer footer';
    
    grid-template-rows: 6vw 40vw 20vw; /* as medidas aqui sao por linhass */
    grid-template-columns: 0vh 40vw 40vw 20vw;

 }



*{ /*O asterisco significa todos os elementos da pagina*/
    margin: 0px;
}

nav{
    grid-area: nav;
    background-color: #acffba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

a{
    text-decoration: none;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #23af3a;
    font-weight: 550;
}

a:hover{
    color: #147023;
    transition-duration: 0.5s;
}

#menu-hamburguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 50px;
    border: 2px solid white;
    border-radius: 5px;
    display: none;
}

.trace{
    width: 60%;
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

section{
    grid-area: section;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside{
    grid-area: aside;
    background-color: #147023;
    padding: 40px;
}


section img{
    border-radius: 100px;
}

section h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #147023;
}

footer{
    display: flex; /* o padraodo flex é deixar tudo em row ou seja , um do lado do outro */
    justify-content: space-around;
    /* como a direçao foi invertida para colunas o justify  faz a função invertida entao o space around antes separava na linha  agora separa na coluna*/
    flex-direction: column;
    align-items: center;
    grid-area: footer;
    background-color: pink;
    
}

div.links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

div.redes-sociais{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100px;
}

div.redes-sociais img{
    width: 50px;
    height: 50px
}