nav{
    background-color: rgb(63, 63, 63);
    height: 50px;
    display: flex;
    align-items: center; /*align-items: serve para centralizar o elemento na altura-na vertical*/
    justify-content: space-around;
    margin-bottom: 50px;
}


body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
}

a{
    text-decoration: none;
}

nav a{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    color: rgb(255, 58, 196);

}

nav a:first-child{  /*A primeira filha de nav*/
    color: rgb(255, 58, 196);
}

nav a:nth-child(3){/*Qualquer filha que eu quiser da div*/
    color: rgb(255, 58, 196);
}

nav a:hover{
    color: rgb(255, 185, 234);
    transition: 0.5s;
}

section{
    height: 300px;
    justify-content: center;
    display: flex;
}

section div{

    display: flex;
    flex-direction: column; /*line para deixar um do lado do outro, e column para deixar um embaixo do outro
    justify-content = funciona se for row
    align-Items= funciona se estiver na vertical
    se aqui eu mudei a direção da minha div para column, nn consigo usar o justify
    pois eles trocaram de função , um faz a função do outro entao se usei column 
    deverei usar align Items para que ele faça uma função contraria de alinhamento*/
    align-items: center;

}

div h1{
    color: rgb(255, 58, 196);
    font-size: 30px; 
}
div input{
    margin-top: 40px;
}
div input:last-child{
    margin-top: 20px;
}
section div input{
    height: 40px;
    width: 300px;
}
section input:last-child{
    height: 40px;
    width: 100px;
}
section div input:focus{ 
    /*focus enquando o elemento estiver sido selecionado*/
    background-color: rgb(255, 236, 250);
}

input::placeholder{
    padding-left: 10px;
}
input{
    border-radius: 30px;
    border-color:  rgb(255, 58, 196);
    font-size: 15px;
    box-shadow: 2px 2px 2px rgb(255, 137, 220);
}

input.btn{
    background-color: rgb(255, 202, 239);
}








